<div class="container">
  <footer class="footer">
    <div class="row">
      <div class="col-md-4">
        <h3>Coding Forward!</h3>
        <p>Developed with help from this guide: <%= link_to 'InstallFest 2017', 'http://reinteractive.com/community/installfest' %></p>
      </div>
      <div class="col-md-4">
        <h3>I did it myself</h3>
        <p>It was not easy, but getting around the bugs or gaps will hammer down the learning the most!</p>
      </div>
      <div class="col-md-4">
        <h3>No Cheating</h3>
        <p>Just Ruby code within a Rails framework.</p>
      </div>
    </div>
  </footer>
</div>