<div id="contact" class="container">
  <footer class="footer">
    <div class="row">
      <div class="col-md-4">
        <h3>Github</h3>
        <p><a href="https://github.com/clint77" >My Github Page</a></p>
      </div>
      <div class="col-md-4">
        <h3>Coding Forward!</h3>
        <p>It was not without hiccups, but getting around the bugs or gaps will hammer down the learning the most!</p>
      </div>
      <div class="col-md-4">
        <h3>Contact Me</h3>
        <p>email: clintp1@gmail.com</p>
      </div>
    </div>
  </footer>
</div>